# Ignore everything
*

# But not these files...
!README.md
!.gitconfig
!.gitignore
!.config
!.config/
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/zsh
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.p10k.zsh
!.tmux.conf
!.zshenv

