# Ignore everything
*

# But not these files...
!.gitignore
!.gitconfig
!README.md
!.config
!.config/
!.config/alacritty
!.config/alacritty/alacritty.yml
!.zshenv
!.config/zsh
!.config/zsh/.zshrc
!.config/zsh/.zshenv
!.tmux.conf
!.p10k.zsh

